<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="react.spring.react_spring_pjt.bbs.dao.BbsMapper">


    <!-- findAll --> 

    <select id="findAllRow"
            resultType="bbsResponseDTO">
        SELECT ID, TITLE, CONTENT
        FROM TB_BBS
    </select>

    <!-- saveRow --> 

    <insert id="insertRow"
            parameterType="bbsRequestDTO">
        INSERT INTO TB_BBS(TITLE, CONTENT)
        VALUES (#{title}, #{content})
    </insert>
    
    

    <!-- getRow --> 

    <select id="findRow"
            parameterType="java.util.HashMap"
            resultType="bbsResponseDTO">
        SELECT ID, TITLE, CONTENT
        FROM TB_BBS
        WHERE ID = #{id}
    </select>    

    <!-- getComments --> 

    <select id="findByIdComment"
            parameterType="java.util.HashMap"
            resultType="commentResponseDTO">
        SELECT ID, CONTENT, BBSID
        FROM TB_COMMENT
        WHERE BBSID = #{id}
    </select>
    
    

    <!-- createCommentRow --> 

    <insert id="insertCommentRow"
            parameterType="commentRequestDTO">
        INSERT INTO TB_COMMENT(CONTENT, BBSID)
        VALUES (#{content}, #{bbsid})
    </insert>    




    <!-- delRow --> 

    <delete id="deleteRow"
            parameterType="java.util.HashMap">
        DELETE FROM TB_BBS
        WHERE ID = #{id}
    </delete>




    <!-- updateRow --> 

    <update id="updateRow"
            parameterType="bbsRequestDTO">
        UPDATE TB_BBS
        SET TITLE = #{title}, CONTENT = #{content}
        WHERE ID = #{id}
    </update>


</mapper>